# First look at the data

**Example used: COVID-19 data**

Our World in Data provides COVID-19 public use data at https://ourworldindata.org/covid-cases. The dataset includes total cases and deaths, tests administered, hospital beds, and demographic data such as median age, gross domestic product, and a human development index, which is a composite measure of standard of living, educational levels, and life expectancy. The dataset used in this recipe was downloaded on March 3, 2024

## Read and inspect shape and data type
### Read data

In [ ]:
import pandas as pd
import numpy as np

# We first take a look at the data file, and understand that it is a CSV file with 28 KB on your disk

# read the file
covid_data = pd.read_csv("data/covidtotals.csv", parse_dates=["lastdate"]) # note: Pandas can automatically infer standard date formats, such as ISO 8601 (YYYY-MM-DD), if you specify which columns contain dates.

### Inspect shape, columns

In [ ]:
# Inspect the shape (numbers of rows and columns) of the dataframe.
# pd.shape returns a tuple representing the dimensionality of the DataFrame.
# it has 231 rows and 17 columns
covid_data.shape

In [ ]:
# Inspect the columns

print(f"This file include the following columns: {covid_data.columns}")

### Inspect head, tail, and sample

In [ ]:
# Inspect some samples of the data, using head( ), tail ( ), or sample( )
print(f"The head of the dataset:\n")
covid_data.head(n=3)

In [ ]:
print(f"The tail of the dataset:\n")
covid_data.tail(n=3) # You can specify how many rows you wanted to inspect

In [ ]:
print(f"A random sample of the dataset:\n")
covid_data.sample()

In [ ]:
print(f"A random sample of the datasets with 7 rows, with random seed 42")
covid_data.sample(n=3, random_state=None)

### Inspect data info and data types

In [ ]:
# info also shows missing data
covid_data.info()

In [ ]:
covid_data.dtypes

### Checking missing data
use `.isna( )`

In [ ]:
# Checking missing data for one column
covid_data['life_expectancy'].isna()

In [ ]:
# Because bool (True and False) are essentially integers (1 and 0)
# We can add them together to check how many True values (aka missing values, or nan values) there.
print(f"The number of missing values in the columns 'life_expectancy' is: {covid_data['life_expectancy'].isna().sum()}")

In [ ]:
# Checking missing data for a DataFrame
covid_data.isna()

In [ ]:
# Compute the number of missing data in each column in a DataFrame
covid_data.isna().sum()

## Summary statistics (numerical)

using `.describe( )` to generate descriptive statistics.

Descriptive statistics include those that summarize the central tendency, dispersion and shape of a dataset’s distribution, *excluding* `NaN` values.

In [1]:
import pandas as pd
import numpy as np

# read the file
covid_data = pd.read_csv("data/covidtotals.csv", parse_dates=["lastdate"])

In [2]:
covid_data.describe() # generate a descriptive statistics for numerical columns

,lastdate,total_cases,total_deaths,total_cases_pm,total_deaths_pm,population,pop_density,median_age,gdp_per_capita,hosp_beds,vac_per_hund,aged_65_older,life_expectancy,hum_dev_ind
count,231,2.310000e+02,2.310000e+02,231.000000,231.000000,2.310000e+02,209.000000,194.000000,191.000000,170.000000,13.000000,188.000000,227.00000,187.000000
mean,2023-09-11 22:32:43.636363520,3.351599e+06,3.021420e+04,206177.794623,1261.778390,3.424609e+07,323.603359,30.341753,18614.958990,3.014576,196.476923,8.675835,73.64652,0.721251
min,2020-10-18 00:00:00,4.000000e+00,0.000000e+00,354.487000,0.000000,4.700000e+01,0.137000,15.100000,661.240000,0.100000,38.470000,1.144000,53.28000,0.394000
25%,2023-06-07 12:00:00,2.567150e+04,1.775000e+02,21821.863000,141.177000,3.702075e+05,37.728000,22.050000,3821.198000,1.300000,155.720000,3.496750,69.54500,0.601500
50%,2023-12-03 00:00:00,1.914960e+05,1.937000e+03,133946.251000,827.046000,5.434324e+06,88.125000,29.600000,12236.706000,2.398500,214.070000,6.258500,75.05000,0.740000
75%,2024-01-28 00:00:00,1.294286e+06,1.415000e+04,345689.831000,1997.513000,2.197870e+07,222.873000,38.700000,27012.304500,3.965250,227.810000,13.990500,79.28500,0.828500
max,2024-02-04 00:00:00,1.034368e+08,1.127152e+06,763475.441000,6507.656000,1.425887e+09,19347.500000,48.200000,116935.600000,13.800000,406.390000,27.049000,86.75000,0.957000
std,NaN,1.148321e+07,1.047789e+05,203858.096252,1314.981529,1.376530e+08,1468.427340,9.117782,19470.167828,2.434476,96.305392,6.150235,7.42389,0.149669

In [3]:
covid_data.describe(percentiles=[0.05, 0.95])

,lastdate,total_cases,total_deaths,total_cases_pm,total_deaths_pm,population,pop_density,median_age,gdp_per_capita,hosp_beds,vac_per_hund,aged_65_older,life_expectancy,hum_dev_ind
count,231,2.310000e+02,2.310000e+02,231.000000,231.000000,2.310000e+02,209.000000,194.000000,191.000000,170.000000,13.000000,188.000000,227.00000,187.000000
mean,2023-09-11 22:32:43.636363520,3.351599e+06,3.021420e+04,206177.794623,1261.778390,3.424609e+07,323.603359,30.341753,18614.958990,3.014576,196.476923,8.675835,73.64652,0.721251
min,2020-10-18 00:00:00,4.000000e+00,0.000000e+00,354.487000,0.000000,4.700000e+01,0.137000,15.100000,661.240000,0.100000,38.470000,1.144000,53.28000,0.394000
5%,2022-10-23 00:00:00,5.239000e+03,8.000000e+00,1638.859000,13.193000,1.428400e+04,5.245800,17.665000,1423.126500,0.500000,57.196000,2.482100,59.50500,0.462300
50%,2023-12-03 00:00:00,1.914960e+05,1.937000e+03,133946.251000,827.046000,5.434324e+06,88.125000,29.600000,12236.706000,2.398500,214.070000,6.258500,75.05000,0.740000
95%,2024-02-04 00:00:00,1.549251e+07,1.447630e+05,600293.033500,3749.868000,1.194695e+08,675.255200,44.140000,55543.458000,7.212500,324.538000,19.721900,82.98400,0.938000
max,2024-02-04 00:00:00,1.034368e+08,1.127152e+06,763475.441000,6507.656000,1.425887e+09,19347.500000,48.200000,116935.600000,13.800000,406.390000,27.049000,86.75000,0.957000
std,NaN,1.148321e+07,1.047789e+05,203858.096252,1314.981529,1.376530e+08,1468.427340,9.117782,19470.167828,2.434476,96.305392,6.150235,7.42389,0.149669

In [4]:
# We could also use description on one series
covid_data['total_cases'].describe()

count    2.310000e+02
mean     3.351599e+06
std      1.148321e+07
min      4.000000e+00
25%      2.567150e+04
50%      1.914960e+05
75%      1.294286e+06
max      1.034368e+08
Name: total_cases, dtype: float64

In [5]:
# You can also use .min(), .max(), .mean(), etc to check those summary statistics of each column
covid_data.min()

iso_code                           ABW
lastdate           2020-10-18 00:00:00
location                   Afghanistan
total_cases                        4.0
total_deaths                       0.0
total_cases_pm                 354.487
total_deaths_pm                    0.0
population                          47
pop_density                      0.137
median_age                        15.1
gdp_per_capita                  661.24
hosp_beds                          0.1
vac_per_hund                     38.47
aged_65_older                    1.144
life_expectancy                  53.28
hum_dev_ind                      0.394
region                       Caribbean
dtype: object

## Summary statistics (categorical)

Example used: nls97 data

The NLS of Youth was conducted by the United States Bureau of Labor Statistics. This survey started with a cohort of individuals in 1997 who were born between 1980 and 1985, with annual follow-ups each year through to 2023. In this dataset, 89 variables on grades, employment, income, and attitudes toward government from the hundreds of data items in the survey were pulled. The NLS data can be downloaded from https://www.nlsinfo.org. You must create an investigator account to download the data, but there is no charge.

In [6]:
import pandas as pd

# read the data
nls97 = pd.read_csv("data/nls97.csv")

In [7]:
# inspect the size
nls97.shape

(8984, 89)

In [8]:
# inspect the information
nls97.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8984 entries, 0 to 8983
Data columns (total 89 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   personid               8984 non-null   int64
 1   gender                 8984 non-null   object
 2   birthmonth             8984 non-null   int64
 3   birthyear              8984 non-null   int64
 4   highestgradecompleted  6663 non-null   float64
 5   maritalstatus          6672 non-null   object
 6   childathome            4791 non-null   float64
 7   childnotathome         4791 non-null   float64
 8   wageincome             5091 non-null   float64
 9   weeklyhrscomputer      5792 non-null   object
 10  weeklyhrstv            6711 non-null   object
 11  nightlyhrssleep        6706 non-null   float64
 12  satverbal              1406 non-null   float64
 13  satmath                1407 non-null   float64
 14  gpaoverall             6004 non-null   float64
 15  gpaenglish             5798 non-null   float64
 16  gpamath                5766 non-null   float64
 17  gpascience             5684 non-null   float64
 18  highestdegree          8953 non-null   object
 19  govprovidejobs         1833 non-null   object
 20  govpricecontrols       1859 non-null   object
 21  govhealthcare          1874 non-null   object
 22  govelderliving         1872 non-null   object
 23  govindhelp             1815 non-null   object
 24  govunemp               1811 non-null   object
 25  govincomediff          1775 non-null   object
 26  govcollegefinance      1875 non-null   object
 27  govdecenthousing       1847 non-null   object
 28  govprotectenvironment  1860 non-null   object
 29  weeksworked00          8603 non-null   float64
 30  weeksworked01          8564 non-null   float64
 31  weeksworked02          8556 non-null   float64
 32  weeksworked03          8490 non-null   float64
 33  weeksworked04          8458 non-null   float64
 34  weeksworked05          8403 non-null   float64
 35  weeksworked06          8340 non-null   float64
 36  weeksworked07          8272 non-null   float64
 37  weeksworked08          8186 non-null   float64
 38  weeksworked09          8146 non-null   float64
 39  weeksworked10          8054 non-null   float64
 40  weeksworked11          7968 non-null   float64
 41  weeksworked12          7747 non-null   float64
 42  weeksworked13          7680 non-null   float64
 43  weeksworked14          7612 non-null   float64
 44  weeksworked15          7389 non-null   float64
 45  weeksworked16          7068 non-null   float64
 46  weeksworked17          6670 non-null   float64
 47  colenrfeb97            1250 non-null   object
 48  colenroct97            8501 non-null   object
 49  colenrfeb98            8501 non-null   object
 50  colenroct98            8888 non-null   object
 51  colenrfeb99            8865 non-null   object
 52  colenroct99            8851 non-null   object
 53  colenrfeb00            8820 non-null   object
 54  colenroct00            8805 non-null   object
 55  colenrfeb01            8786 non-null   object
 56  colenroct01            8758 non-null   object
 57  colenrfeb02            8732 non-null   object
 58  colenroct02            8698 non-null   object
 59  colenrfeb03            8658 non-null   object
 60  colenroct03            8622 non-null   object
 61  colenrfeb04            8578 non-null   object
 62  colenroct04            8546 non-null   object
 63  colenrfeb05            8508 non-null   object
 64  colenroct05            8471 non-null   object
 65  colenrfeb06            8426 non-null   object
 66  colenroct06            8407 non-null   object
 67  colenrfeb07            8352 non-null   object
 68  colenroct07            8331 non-null   object
 69  colenrfeb08            8289 non-null   object
 70  colenroct08            8280 non-null   object
 71  colenrfeb09            8236 non-null   object
 72  colenroct09            8193 non-null   object
 73  colenrfeb10            8116 non-null   object
 74  colenroct10            8091 non-null   object
 75  colenrfeb11            8037 non-null   object
 76  colenroct11            7972 non-null   object
 77  colenrfeb12            7794 non-null   object
 78  colenroct12            7754 non-null   object
 79  colenrfeb13            7754 non-null   object
 80  colenroct13            7754 non-null   object
 81  colenrfeb14            7624 non-null   object
 82  colenroct14            7469 non-null   object
 83  colenrfeb15            7469 non-null   object
 84  colenroct15            7469 non-null   object
 85  colenrfeb16            7036 non-null   object
 86  colenroct16            6733 non-null   object
 87  colenrfeb17            6733 non-null   object
 88  colenroct17            6734 non-null   object
dtypes: float64(29), int64(3), object(57)
memory usage: 6.1+ MB

### without converting to Pandas `category` dtype

When dealing with categorical data type, we can convert it to `category` data type, but we don't have to. The advantage of converting to `category` data type is for memory efficiency.

If you don't convert it to `category` dtype, you can directly use `.value_counts( )` and `.describe( )` to inspect the frequency of categories and summary statistics.

In [9]:
nls97['gender'].value_counts(dropna=False) # dropna=False means count NaN as a separate category

gender
Male      4599
Female    4385
Name: count, dtype: int64

In [10]:
# Use .describe( ) to print summary statistics of this categorical variable
nls97['gender'].describe()

count     8984
unique       2
top       Male
freq      4599
Name: gender, dtype: object

In [12]:
# If you want to inspect the frequency in terms of percentage, you can pass normalize=True
nls97['gender'].value_counts(normalize=True)

gender
Male      0.51191
Female    0.48809
Name: proportion, dtype: float64

### Converting to Pandas `category` dtype
- using `.astype("category")` to convert a column (Series) to a categorical dtype
- Then you can use `.value_counts()` and `.describe()` to inspect the frequency of categories and the summary statistics of this columns
- As you can see, the results are the same with if you don't convert it to `category` dtype.
- The difference is that a `category` dtype takes less memory than an `object` (`str`) dtype in Pandas.
- `category` dtype also provides many built-in attributes and methods, such as `.cat.codes`, `cat.rename_categories`, etc.

In [ ]:
# first convert gender to a categorical dtype
# If you would like to keep the original column, you can create a new column
nls97['gender_category'] = nls97['gender'].astype("category")

In [17]:
nls97['gender_category'].dtype

CategoricalDtype(categories=['Female', 'Male'], ordered=False, categories_dtype=object)

In [18]:
nls97['gender_category'].value_counts()

gender_category
Male      4599
Female    4385
Name: count, dtype: int64

In [19]:
nls97['gender_category'].describe()

count     8984
unique       2
top       Male
freq      4599
Name: gender_category, dtype: object

### [Optional] Other methods I found helpful for categorical data
#### `.unique()` and `.nunique()`

In [22]:
# use .unique() to check the unique values of a categorical variable
nls97['gender'].unique()

array(['Female', 'Male'], dtype=object)

In [23]:
nls97['gender'].nunique()

2

#### `pd.crosstab`
Cross-Tabulation (Compare Two Categorical Variables)

In [ ]:
# If you want to inspect both the gender and marital status
pd.crosstab(nls97["gender"], nls97["maritalstatus"],
            dropna=False, normalize=False)

#### `df.groupby`
We will talk about `groupby` in more detail in our later weeks, but it can also be helpful in inspecting categorical data

In [ ]:
# For example, if you want to inspect the mean wage income of male and female
nls97.groupby(by='gender')['wageincome'].mean()

#### One-hot encoding categorical data

we can also convert categorical to a collection of binary variables using a technique called "one-hot encoding"

One-hot encoding is a data pre-processing technique that converts categorical data into a binary matrix (0s and 1s), representing each category as a unique vector with a single "hot" (1) value and the rest "cold" (0). It enables machine learning algorithms to process nominal data by creating new binary columns for each distinct category.

In [ ]:
nls97['is_female'].value_counts()

In [ ]:
# a more generic way to do one-hot encoding is to use pd.get_dummies(). However, get_dummies() will automatically drop the original columns. for example:
nls97_copy = nls97.copy()
nls97_copy = pd.get_dummies(nls97_copy, columns=['maritalstatus'], drop_first=True, dummy_na=False, dtype=int) # always drop_first

## [Optional] Summary statistics of datetime data

Datetime data is not “categorical” or “numerical”, it’s temporal, and we inspect it differently.

Before we inspect, it is better to convert it to `pandas`'s datetime type.

In [24]:
# first check the type of the datetime columns, if it object, convert it to datetime (e.g., df["date"] = pd.to_datetime(df["date"])).
# As you can se, the dtype of "lastdate" is M8[ns], which is a data type string used in the Python NumPy and pandas libraries to represent a datetime64 object with nanosecond precision.

covid_data['lastdate'].dtype

dtype('<M8[ns]')

In [25]:
covid_data['lastdate'].describe()

count                              231
mean     2023-09-11 22:32:43.636363520
min                2020-10-18 00:00:00
25%                2023-06-07 12:00:00
50%                2023-12-03 00:00:00
75%                2024-01-28 00:00:00
max                2024-02-04 00:00:00
Name: lastdate, dtype: object

In [26]:
# range of time, useful to understand the duration of time
covid_data['lastdate'].max() - covid_data['lastdate'].min()

Timedelta('1204 days 00:00:00')

In [27]:
# Extract Temporal Components
covid_data['last_year'] = covid_data['lastdate'].dt.year
covid_data['last_month'] = covid_data['lastdate'].dt.month
covid_data['last_day'] = covid_data['lastdate'].dt.day
covid_data['last_day_of_week'] = covid_data['lastdate'].dt.dayofweek
covid_data['last_day_name'] = covid_data['lastdate'].dt.day_name()
covid_data['last_hour'] = covid_data['lastdate'].dt.hour

covid_data

,iso_code,lastdate,location,total_cases,total_deaths,total_cases_pm,total_deaths_pm,population,pop_density,median_age,...,aged_65_older,life_expectancy,hum_dev_ind,region,last_year,last_month,last_day,last_day_of_week,last_day_name,last_hour
0,AFG,2024-02-04,Afghanistan,231539.0,7982.0,5629.611,194.073,41128772,54.422,18.6,...,2.581,64.83,0.511,South Asia,2024,2,4,6,Sunday,0
1,ALB,2024-01-28,Albania,334863.0,3605.0,117813.348,1268.331,2842318,104.871,38.0,...,13.188,78.57,0.795,Eastern Europe,2024,1,28,6,Sunday,0
2,DZA,2023-12-03,Algeria,272010.0,6881.0,6057.694,153.241,44903228,17.348,29.1,...,6.211,76.88,0.748,North Africa,2023,12,3,6,Sunday,0
3,ASM,2023-09-17,American Samoa,8359.0,34.0,188712.044,767.581,44295,278.205,NaN,...,NaN,73.74,NaN,Oceania / Aus,2023,9,17,6,Sunday,0
4,AND,2023-05-07,Andorra,48015.0,159.0,601367.684,1991.408,79843,163.755,NaN,...,NaN,83.73,0.868,Western Europe,2023,5,7,6,Sunday,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,VNM,2023-10-22,Vietnam,11624000.0,43206.0,118386.518,440.039,98186856,308.127,32.6,...,7.150,75.40,0.704,East Asia,2023,10,22,6,Sunday,0
227,WLF,2023-06-04,Wallis and Futuna,3550.0,8.0,306140.048,689.893,11596,NaN,NaN,...,NaN,79.94,NaN,Oceania / Aus,2023,6,4,6,Sunday,0
228,YEM,2022-11-06,Yemen,11945.0,2159.0,354.487,64.072,33696612,53.508,20.3,...,2.922,66.12,0.470,West Asia,2022,11,6,6,Sunday,0
229,ZMB,2023-12-03,Zambia,349304.0,4069.0,17449.783,203.270,20017670,22.995,17.7,...,2.480,63.89,0.584,Southern Africa,2023,12,3,6,Sunday,0
230,ZWE,2024-01-28,Zimbabwe,266265.0,5737.0,16314.719,351.520,16320539,42.729,19.6,...,2.822,61.49,0.571,Southern Africa,2024,1,28,6,Sunday,0

In [ ]:
covid_data['last_day_name'].value_counts()

In [ ]:
covid_data.groupby(covid_data["lastdate"].dt.to_period("M")).size().plot(kind='bar', figsize=(8, 4))