# Homework 4: Cleaning a Campus Event Dataset (5 Points)
__EST 389 - Intro to Data Science - Spring, 2026__

Scenario:
- Stony Brook University collected data from a campus sustainability fair.
- The dataset has some messy entries.
- We need to clean it.

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    "event_name": [" Climate Talk ", "AI & Society", "climate talk", " food waste Workshop", "AI & Society ", "food waste workshop "],
    "location": ["frey hall", "Charles W center", "charles w Center", "student activity center", "student ACTIVITY center", "student activity Center"],
    "ticket_price": ["$10", "$15", "$10", "free", "$15", "$0"],
    "attendance": [120, np.nan, 120, 80, 200, 80]
})

df

             event_name                 location ticket_price  attendance
0         Climate Talk                 frey hall          $10       120.0
1          AI & Society         Charles W center          $15         NaN
2          climate talk         charles w Center          $10       120.0
3   food waste Workshop  student activity center         free        80.0
4         AI & Society   student ACTIVITY center          $15       200.0
5  food waste workshop   student activity Center           $0        80.0

## Question 1 (1 point): fix missing values in attendance
### Question 1.1 (0.5 point)
Create a new variable called `mean_attendance` which is equal to the mean value of the column "attendance"

In [2]:
# TODO: replace the None with your code
mean_attendance = None

### Question 1.2 (0.5 point)
Fill the missing value in the "attendance" column with the `mean_attendance`.

_Hint_: to fill NaN values in a column, you can use `.fillna`, for example:

`df['salary'] = df['salary'].fillna(mean_salary)`

In [4]:
# TODO: replace the None with your code
df['attendance'] = None

## Question 2 (1 points): Clean the `event_name` column.

### Question 2.1 (0.5 point)
Removing extra spaces at the beginning and at the end of `event_name` column.

_Hint_: You can use `Series.str.strip()` to remove spaces.

In [6]:
# TODO: replace the None with your code
df['event_name'] = None

### Question 2.2 (0.5 point)
Making all text in column `event_name` lowercase

In [8]:
# TODO: replace the None with your code
df['event_name'] = None

## Question 3 (0.5 point): Clean `location`
Clean the text in `location` column using the `.str.title()` method so that `"frey hall"` becomes `"Frey Hall"`

In [10]:
# TODO: replace the None with your code
df['location'] = None

## Question 4 (1.5 point): Clean `ticket_price`
### Question 4.1 (0.5 point)
Remove the `$` symbol from column `ticket_price` using `.str.replace()`.

*Hint*:
- If you want to replace `"chocolate"` with `"coffee"`, you can use `.str.replace("chocolate", "coffee")`.
- If you want to remove certain strings from the text, you can simply replace them with an empty string `""`.

In [12]:
# TODO: replace the None with your code
df['ticket_price'] = None

### Question 4.2 (0.5 point)
Replace `"free"` in column `"ticket_price"` with a string `"0"`.

_Note_: Replace it with a string `"0"`, not an integer `0`.

In [14]:
# TODO: replace the None with your code
df['ticket_price'] = None

### Question 4.3 (0.5 point)
Convert the column `ticket_price` to numeric, with `errors='coerce'`.

_Hint_: You can use `pd.to_numeric(Series_to_convert, errors='coerce')`.

In [18]:
# TODO: replace the None with your code
df['ticket_price'] = None

## Question 5 (1 point): drop duplicate
### Question 5.1 (0.5 point)
Create a new variable called `duplicated_row_count` which is equal to the number of duplicated rows in the dataframe.

_Hint_:
- `.duplicated()` checks whether rows are duplicated and returns a Series of bool.
- `.duplicated().sum()` is used to check the number of duplicates.

In [21]:
# TODO: replace the None with your code
duplicated_row_count = None

### Question 5.2 (0.5 point)
Drop duplicates and assign the new dataframe to a new variable called `clean_df`.

In [23]:
# TODO: replace the None with your code
clean_df = None