# Read and Write Files using Pandas

## Read csv files

- Relative path: are partial and depend on the current working directory
    - A single dot (./ or just the filename) refers to the current working directory.
    - Two dots (../) move one level up in the directory hierarchy.
    - Directory names separated by forward slashes (/) navigate into subfolders
    - Sometimes, depending on your IDE, you might want to do extra configuration to be able to use relative path. For example, in the case of PyCharm, you need to mark the current working directory as _Sources Root_.
- Absolute path: are complete and fixed

In [3]:
import pandas as pd

best_selling_books = pd.read_csv('data/data_reading_path/best_selling_books_2023_2025.csv')

print("DataFrame loaded from CSV:\n")
best_selling_books.head()

DataFrame loaded from CSV:

,Book name,Author,Rating,reviews count,form,price,Reading age,Print Length,Publishing date,Genre,id_2023,id_2024,id_2025
0,Atomic Habits: An Easy & Proven Way to Build G...,James Clear,4.8 out of 5 stars,145747,Hardcover,$18.88,NaN,320.0,16/10/2018,Self-Improvement,#1,#3,#6
1,"Iron Flame (Standard Edition) (The Empyrean, 2)",Rebecca Yarros,4.7 out of 5 stars,395512,Hardcover,$11.05,NaN,640.0,7/11/23,Fiction & Action & Adventure,#2,#13,NaN
2,Spare,Prince Harry The Duke of Sussex,4.5 out of 5 stars,116101,Hardcover,$11.99,NaN,416.0,10-Jan-23,Biographies & Memoirs,#3,NaN,NaN
3,Fourth Wing,Rebecca Yarros,4.8 out of 5 stars,472618,Paperback,$13.62,NaN,544.0,17/09/2024,Fiction & Action & Adventure,#4,#16,#76
4,The Woman in Me,Britney Spears,4.4 out of 5 stars,51520,Hardcover,$11.37,NaN,288.0,24-Oct-23,Biographies & Memoirs,#5,NaN,NaN

In [5]:
# Some of the parameters you can pass

best_selling_books = pd.read_csv('data/data_reading_path/best_selling_books_2023_2025.csv',
                                 # usecols: Subset of columns to select
                                 usecols=['Book name','Author','reviews count'],
                                 # dtype: dtype or dictionary of dtypes
                                 dtype={'Book name': str, 'reviews count': int},
                                 # nrows: number of rows to read. I would read a small chunk just to inspect data if the file is large
                                 nrows=10,
                                 )

print("DataFrame loaded from CSV:\n")
best_selling_books

DataFrame loaded from CSV:

,Book name,Author,reviews count
0,Atomic Habits: An Easy & Proven Way to Build G...,James Clear,145747
1,"Iron Flame (Standard Edition) (The Empyrean, 2)",Rebecca Yarros,395512
2,Spare,Prince Harry The Duke of Sussex,116101
3,Fourth Wing,Rebecca Yarros,472618
4,The Woman in Me,Britney Spears,51520
5,Lessons in Chemistry: A Novel,Bonnie Garmus,322650
6,The 48 Laws of Power,Robert Greene,87375
7,"The Body Keeps the Score: Brain, Mind, and Bod...",Bessel van der Kolk M.D.,82564
8,It Starts with Us: A Novel (It Ends with Us),Colleen Hoover,228242
9,Outlive: The Science and Art of Longevity,Peter Attia MD,19946

## Read Excel files

Before you read an Excel file, make sure openpyxl package is installed. openpyxl is a Python library to read/write Excel 2010 xlsx/xlsm/xltx/xltm files.

In [8]:
import pandas as pd

tools = pd.read_excel('data/data_reading_path/ONET_data_tools_used.xlsx',
                      sheet_name=0, # default 0, or a str of the name, or a list of the names
                      )

print("DataFrame loaded from xlsx files:\n")
tools.head()

DataFrame loaded from xlsx files:

,O*NET-SOC Code,Title,Example,Commodity Code,Commodity Title
0,11-1011.00,Chief Executives,10-key calculators,44101809,Desktop calculator
1,11-1011.00,Chief Executives,Desktop computers,43211507,Desktop computer
2,11-1011.00,Chief Executives,Laptop computers,43211503,Notebook computer
3,11-1011.00,Chief Executives,Personal computers,43211508,Personal computer
4,11-1011.00,Chief Executives,Personal digital assistants PDA,43211504,Personal digital assistant PDAs or organizer

In [7]:
# If you don't know the sheet names and wanted to inspect them, you could do the following:
import pandas as pd

file_to_check = pd.ExcelFile('data/data_reading_path/ONET_data_tools_used.xlsx')

print(file_to_check.sheet_names)

['Tools Used']

## Read JSON files
JSON (JavaScript Object Notation) is a lightweight, text-based, language-independent data-interchange format designed to be human-readable and machine-parsable.

In [9]:
# read the json file

iris = pd.read_json('data/data_reading_path/iris.json')

print("DataFrame loaded from JSON:\n")
print(iris.head())

DataFrame loaded from JSON:

   sepalLength  sepalWidth  petalLength  petalWidth species
0          5.1         3.5          1.4         0.2  setosa
1          4.9         3.0          1.4         0.2  setosa
2          4.7         3.2          1.3         0.2  setosa
3          4.6         3.1          1.5         0.2  setosa
4          5.0         3.6          1.4         0.2  setosa

## Pickling
Pickling can be useful to preserve Python obejects

### Example 1: pickling of basic Python objects

In [ ]:
import pandas as pd

# Create a DataFrame where some cells contain lists and dictionaries
# This is common when working with JSON, APIs, or semi-structured data

df = pd.DataFrame({
    "species": ["Sparrow", "Robin", "Blue Jay"],

    # Each cell in this column contains a LIST
    "observed_colors": [
        ["brown", "gray"],
        ["red", "brown"],
        ["blue", "white", "black"]
    ],

    # Each cell in this column contains a DICTIONARY
    "measurements": [
        {"weight_g": 24, "wingspan_cm": 20},
        {"weight_g": 77, "wingspan_cm": 31},
        {"weight_g": 100, "wingspan_cm": 43}
    ]
})

print("DataFrame with lists and dictionaries in cells:")
print(df)

In [ ]:
# save as a pickle file and a csv file

df.to_pickle('data/data_writing_path/birds_df.pkl')
df.to_csv('data/data_writing_path/birds_df.csv', index=False) # index=False prevent creating a new index column
print("DataFrame saved to pickle and csv.\n")

In [ ]:
# Let's read the csv file and the pickle file

birds_df_csv = pd.read_csv('data/data_writing_path/birds_df.csv')
print("DataFrame loaded from csv:")
print(birds_df_csv)


birds_df_pickled = pd.read_pickle('data/data_writing_path/birds_df.pkl')
print("\nDataFrame loaded from pickle:")
print(birds_df_pickled)

In [ ]:
print("Info of Dataframe loaded from csv:")
print(birds_df_csv.info())

print("\nInfo of Dataframe loaded from pickle:")
print(birds_df_pickled.info())

In [ ]:
print(f'The original dataframe contains list and dictionary columns, for example,\n'
      f'sparrow\'s observed colors is: {(colors:=(df[df["species"] == "Sparrow"]["observed_colors"].iloc[0]))}, and the type is {type(colors)}.')
print(f"\nHowever, the dataframe we read back from the CSV file, sparrow's observed color is "
      f"{(new_colors:=(birds_df_csv[birds_df_csv['species'] == 'Sparrow']['observed_colors'].iloc[0]))}, and the type is {type(new_colors)}.")

print(f"\nOn the other hand, in the dataframe we read back from the pickle file, it preserves the types. The sparrow's colors include {(pickle_colors:=(birds_df_pickled[birds_df_pickled['species']=='Sparrow']['observed_colors'].iloc[0]))}, and the type is {type(pickle_colors)}.")

In [ ]:
# If you have columns in your CSV file that are supposed to be Python types other than integer, float, or string, you can use ast.literal_eval. ast stands for Abstract Syntax Tree
import ast

literal_evaled_df = pd.read_csv('data/data_writing_path/birds_df.csv')

# Convert the string column to a list column using .apply()
literal_evaled_df['observed_colors'] = literal_evaled_df['observed_colors'].apply(ast.literal_eval)
literal_evaled_df['measurements'] = literal_evaled_df['measurements'].apply(ast.literal_eval)

In [ ]:
print(type(literal_evaled_df['observed_colors'].iloc[0]))

## Read only part of the file
If your data file is large, you can use `nrows` to control how many rows you read as a dataframe

In [ ]:
chocolate_df = pd.read_csv('data/data_reading_path/chocolate_sales.csv', nrows=2)

print(chocolate_df)

## Chunking
To read a large file in chunks with pandas, you use the `chunksize` parameter in a file reading function like `pd.read_csv()`. This returns an iterator that yields smaller DataFrame objects (chunks) one by one, allowing you to process the data with limited memory.

For example, you can read the file chunk by chunk and conduct some operations chunk by chunk, which takes much smaller memories.

In [10]:
import pandas as pd

chunk_size = 500

chunks = []

counter = 0
for chunk in pd.read_csv('data/data_reading_path/chocolate_sales.csv',
                         chunksize=chunk_size):
    print(f"Chunk {counter} index: {chunk.index.min()} ~ {chunk.index.max()}, shape {chunk.shape}")
    # You can conduct some operations by chunk
    counter += 1
    chunks.append(chunk)

chocolate_df = pd.concat(chunks)

print("\nFinal dataframe:")
print(chocolate_df.head())

Chunk 0 index: 0 ~ 499, shape (500, 6)
Chunk 1 index: 500 ~ 999, shape (500, 6)
Chunk 2 index: 1000 ~ 1499, shape (500, 6)
Chunk 3 index: 1500 ~ 1999, shape (500, 6)
Chunk 4 index: 2000 ~ 2499, shape (500, 6)
Chunk 5 index: 2500 ~ 2999, shape (500, 6)
Chunk 6 index: 3000 ~ 3281, shape (282, 6)

Final dataframe:
     Sales Person    Country              Product        Date      Amount  \
0  Jehu Rudeforth         UK      Mint Chip Choco  04/01/2022   $5,320.00
1     Van Tuxwell      India        85% Dark Bars  01/08/2022   $7,896.00
2    Gigi Bohling      India  Peanut Butter Cubes  07/07/2022   $4,501.00
3    Jan Morforth  Australia  Peanut Butter Cubes  27/04/2022  $12,726.00
4  Jehu Rudeforth         UK  Peanut Butter Cubes  24/02/2022  $13,685.00

   Boxes Shipped
0            180
1             94
2             91
3            342
4            184

# Inspect Data

In [ ]:
import pandas as pd

df = pd.read_csv('data/data_reading_path/chocolate_sales.csv')

print("Preview first 5 rows:")
print(df.head())

print("\nPreview last 5 rows:")
print(df.tail())

print("\nBasic information about the DataFrame:")
print(df.info())

print("\nDataFrame shape (rows, columns):")
print(df.shape)

print("\nEstimated memory usage:")
print(df.memory_usage(deep=True).sum(), "bytes")

# Writing data to files

In [ ]:
import pandas as pd

save_path = "data/data_writing_path"

# Create a simple DataFrame
df = pd.DataFrame({
    "name": ["Alice", "Bob", "Charlie"],
    "age": [25, 32, 29],
    "city": ["New York", "Los Angeles", "Chicago"],
    "salary": [70000, 85000, 78000]
})

print(df)

In [ ]:
# Write to CSV
df.to_csv(f"{save_path}/employees.csv", index=False)

In [ ]:
# Write to Excel
# Again, it requires openpyxl package (usually already installed)

df.to_excel(f"{save_path}/employees.xlsx", index=False)

In [ ]:
# Write to JSON
# orient="records" makes a list of dictionaries (very common in APIs)
# indent=2 makes it human-readable

df.to_json(f"{save_path}/employees.json", orient="records", indent=2)

In [ ]:
# Write to Pickle
df.to_pickle(f"{save_path}/employees.pkl")

In [ ]:
import os

files = [
    f"{save_path}/employees.csv",
    f"{save_path}/employees.xlsx",
    f"{save_path}/employees.json",
    f"{save_path}/employees.pkl"
]

for f in files:
    print(f"{f}: {os.path.getsize(f)} bytes")

# [Optional] Polars

Polars (linked here) is an open-source library for data manipulation, known for being one the fastest data processing solution on a single machine.

In [ ]:

import pandas as pd
import polars as pl
import numpy as np
import time

n = 5_000_000

np.random.seed(42)

data = {
    "user_id": np.random.randint(1, 100_000, n),
    "category": np.random.choice(["A", "B", "C", "D", "E"], n),
    "price": np.random.gamma(2, 50, n),
    "quantity": np.random.randint(1, 5, n),
    "discount": np.random.rand(n)
}

df_pd = pd.DataFrame(data)
df_pl = pl.DataFrame(data)

print("Pandas shape:", df_pd.shape)
print("Polars shape:", df_pl.shape)

In [ ]:
# let's do a series of computation:

start = time.time()

df_pd["total"] = df_pd["price"] * df_pd["quantity"]
df_pd["revenue"] = df_pd["total"] * (1 - df_pd["discount"])

result_pd = (
    df_pd
    .groupby(["user_id", "category"])
    .agg(
        total_revenue=("revenue", "sum"),
        avg_price=("price", "mean"),
        total_quantity=("quantity", "sum")
    )
    .reset_index()
    .sort_values("total_revenue", ascending=False)
)

end = time.time()
print("Pandas pipeline time:", end - start)

In [ ]:
start = time.time()

result_pl = (
    df_pl
    .with_columns([
        (pl.col("price") * pl.col("quantity")).alias("total"),
        (pl.col("price") * pl.col("quantity") * (1 - pl.col("discount"))).alias("revenue")
    ])
    .group_by(["user_id", "category"])
    .agg([
        pl.col("revenue").sum().alias("total_revenue"),
        pl.col("price").mean().alias("avg_price"),
        pl.col("quantity").sum().alias("total_quantity")
    ])
    .sort("total_revenue", descending=True)
)

end = time.time()
print("Polars eager pipeline time:", end - start)

In [ ]:
start = time.time()

result_lazy = (
    df_pl.lazy()
    .with_columns([
        (pl.col("price") * pl.col("quantity")).alias("total"),
        (pl.col("price") * pl.col("quantity") * (1 - pl.col("discount"))).alias("revenue")
    ])
    .group_by(["user_id", "category"])
    .agg([
        pl.col("revenue").sum().alias("total_revenue"),
        pl.col("price").mean().alias("avg_price"),
        pl.col("quantity").sum().alias("total_quantity")
    ])
    .sort("total_revenue", descending=True)
    .collect()
)

end = time.time()
print("Polars lazy pipeline time:", end - start)

# [optional] tqdm - progress bar

In [12]:
from tqdm import tqdm
import time

# Simulate a slow task
for i in tqdm(range(20)):
    time.sleep(0.15)

100%|██████████| 20/20 [00:03<00:00,  6.47it/s]

In [13]:
from tqdm.notebook import tqdm
import time

for i in tqdm(
    range(20),
    desc="Downloading",
    total=20,
    ncols=500,
    unit="file",
    colour="blue"
):
    time.sleep(0.15)

Downloading:   0%|                                                                                            …

In [14]:

import pandas as pd
import time
import numpy as np

# Create a larger DataFrame
df = pd.DataFrame({
    "numbers": np.random.randint(1, 100, size=100)
})

df.head()

   numbers
0       64
1       40
2       55
3        5
4        3

In [15]:
# Apply Function WITHOUT tqdm

def slow_square(x):
    time.sleep(0.05)
    return x ** 2

df["squared"] = df["numbers"].apply(slow_square)

In [16]:
# Apply Function WITH tqdm

from tqdm import tqdm

tqdm.pandas(desc="Processing Dataframe for EST 389: ")  # Enable progress_apply

df["squared"] = df["numbers"].progress_apply(slow_square)

Processing Dataframe for EST 389: 100%|██████████| 100/100 [00:05<00:00, 18.58it/s]