# Rename Axis and Columns

In [47]:
import pandas as pd

df = pd.DataFrame({
    "user_id": [101, 102, 103],
    "date": ["2026-02-01", "2026-02-01", "2026-02-01"],
    "steps": [8500, 12000, 4300],
    "sleep_hours": [7.5, 6.0, 8.2],
    "workout_type": ["Cardio", "Strength", "None"]
})

df

   user_id        date  steps  sleep_hours workout_type
0      101  2026-02-01   8500          7.5       Cardio
1      102  2026-02-01  12000          6.0     Strength
2      103  2026-02-01   4300          8.2         None

In [49]:
# user_id is no longer one of the columns
print(df.columns)

# user_id now is the index of the dataframe
print(df.index)

Index(['user_id', 'date', 'steps', 'sleep_hours', 'workout_type'], dtype='object')
RangeIndex(start=0, stop=3, step=1)

## Renaming Columns
Rename Specific Columns (Best Practice)

- Safe and explicit.
- Doesnâ€™t break column order.

In [50]:
df.rename(columns={
    "sleep_hours": "sleep_h",
    "workout_type": "exercise_type"
})

   user_id        date  steps  sleep_h exercise_type
0      101  2026-02-01   8500      7.5        Cardio
1      102  2026-02-01  12000      6.0      Strength
2      103  2026-02-01   4300      8.2          None

## Rename All Columns at Once
Warning: Must match number of columns exactly.

In [51]:

df.columns = ["id", "date", "daily_steps", "sleep_h", "exercise_type"]
df

    id        date  daily_steps  sleep_h exercise_type
0  101  2026-02-01         8500      7.5        Cardio
1  102  2026-02-01        12000      6.0      Strength
2  103  2026-02-01         4300      8.2          None

## Setting Index
Example: Use `id` as Index

In [52]:
df = df.set_index("id")
df

           date  daily_steps  sleep_h exercise_type
id
101  2026-02-01         8500      7.5        Cardio
102  2026-02-01        12000      6.0      Strength
103  2026-02-01         4300      8.2          None

## Rename index and axis
Two ways of doing it

In [53]:
# first way, use df.index.rename()
df.index.rename("user_id", inplace=True)
df

               date  daily_steps  sleep_h exercise_type
user_id
101      2026-02-01         8500      7.5        Cardio
102      2026-02-01        12000      6.0      Strength
103      2026-02-01         4300      8.2          None

In [54]:
# second way, assign a new value to df.index.name
df.index.name = 'id'
df

           date  daily_steps  sleep_h exercise_type
id
101  2026-02-01         8500      7.5        Cardio
102  2026-02-01        12000      6.0      Strength
103  2026-02-01         4300      8.2          None

rename column axis

In [55]:
print("Before rename column axis, checking column information")
print(df.columns)

print("\nLet's rename the column axis")
df.columns.name = "health_metrics"
print(df.columns)

Before rename column axis, checking column information
Index(['date', 'daily_steps', 'sleep_h', 'exercise_type'], dtype='object')

Let's rename the column axis
Index(['date', 'daily_steps', 'sleep_h', 'exercise_type'], dtype='object', name='health_metrics')

## Set Multi-Index
Track by user and date:

- Now you have a hierarchical index.
- This is common in panel/time-series data.
- Each user can have multiple dates.

In [57]:
df = df.reset_index()
df = df.set_index(["id", "date"])
df

health_metrics  index  daily_steps  sleep_h exercise_type
id  date
101 2026-02-01      0         8500      7.5        Cardio
102 2026-02-01      1        12000      6.0      Strength
103 2026-02-01      2         4300      8.2          None

In [ ]:
df.index

After setting multi-index: Index affects how we select data. Index structure changes how we think about data.

In [59]:
df.loc[(101, "2026-02-01")]

health_metrics
index                 0
daily_steps        8500
sleep_h             7.5
exercise_type    Cardio
Name: (101, 2026-02-01), dtype: object

## Reset Index
- Flattens the table.
- Needed before merging or exporting.

In [33]:
df = df.reset_index()
df

   user_id        date  daily_steps  sleep_h exercise_type
0      101  2026-02-01         8500      7.5        Cardio
1      102  2026-02-01        12000      6.0      Strength
2      103  2026-02-01         4300      8.2          None

## Renaming Index Labels

In [34]:
df.set_index('user_id', inplace=True)
df

               date  daily_steps  sleep_h exercise_type
user_id
101      2026-02-01         8500      7.5        Cardio
102      2026-02-01        12000      6.0      Strength
103      2026-02-01         4300      8.2          None

In [35]:
df.rename(index={101: "User_A"})

               date  daily_steps  sleep_h exercise_type
user_id
User_A   2026-02-01         8500      7.5        Cardio
102      2026-02-01        12000      6.0      Strength
103      2026-02-01         4300      8.2          None